<header>
    <h1>Craftopia</h1>
    <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
        <a href="/login">Iniciar Sesión</a>
    </nav>
</header>
